<div class="container">
  <h1><%= @subject.name %></h1>
  <h2>Lessons</h2>
  <div class="row row-cols-4">
    <% if @subject.lessons.exists? %>
      <% @subject.lessons.each do |lesson|%>
        <div class="col">
          <div class="card border-primary mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= lesson.name %></h5>
              <p class="card-text"><%= lesson.description %></p>
              <%=link_to lesson.url, lesson.url%>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No lessons found</p>
    <% end %>
  </div>
  <h2>Activities</h2>
  <div class="row row-cols-4">
    <% if @subject.activities.exists? %>
      <% @subject.activities.each do |activity|%>
        <div class="col">
          <div class="card border-primary mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= activity.name %></h5>
              <p class="card-text"><%= activity.description %></p>
              <%=link_to activity.url, activity.url%>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No activities found</p>
    <% end %>
  </div>
  <br>
  <%= render "lessons/form", subject: @subject%>
  <%= render "activities/form", subject: @subject%>
</div>
