<h1><%= @subject.name %></h1>
<h2>Lessons</h2>
<ul>
  <% @subject.lessons.each do |lesson|%>
    <li><%= lesson.name %></li>
    <li><%= lesson.description %></li>
    <li><%= lesson.url %></li>
  <% end %>
</ul>
<%= render "lessons/form", subject: @subject%>
