<div class="container">
  <h1><%= @subject.name %></h1>
  <%= render "lessons/index", subject: @subject%>
  <%= render "activities/index", subject: @subject%>
  <br>
  <%= render "lessons/form", subject: @subject%>
  <%= render "activities/form", subject: @subject%>
</div>
