<h4>Lessons</h2>
<div class="row row-cols-4">
  <% if subject.lessons.exists? %>
    <% subject.lessons.each do |lesson|%>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <h5 class="card-title"><%= link_to lesson.name, subject_lesson_path(lesson.subject, lesson)%></h5>
                <p class="card-text"><%= lesson.description %></p>
              </div>
              <div class="col-4 d-flex align-items-center justify-content-end">
                <%=link_to "Open", lesson.url, class: "btn btn-outline-primary btn-sm", target: :_blank%>
              </div>
            </div>
          </div>
        </div>
        <br>
        <% unless current_user.student? %>
          <div class="btn-group" role="group">
            <%= button_to "Delete", [lesson.subject, lesson], class: "btn btn-danger btn-sm", method: :delete%>
            <%= link_to "Edit", edit_subject_lesson_path(lesson.subject, lesson), class: "btn btn-secondary btn-sm" %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>No lessons found</p>
    </div>
  <% end %>
</div>
