<ul class="navbar-nav bg-navbar sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <div class="sidebar-brand-icon rotate-n-5">
    <%=image_tag "calamba_logo.png", width: "150px"%>
  </div>
</a>
<!-- Divider -->
<hr class="sidebar-divider my-0">
<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <%=link_to "Dashboard", dashboards_path, class: "nav-link" %>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
  Subjects
</div>
<li class="nav-item">
  <%=link_to "Subjects", subjects_path, class: "nav-link" %>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
  Lessons
</div>
<li class="nav-item">
  <%=link_to "Lessons", subjects_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%=link_to "Activities", "#", class: "nav-link" %>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
  Misc
</div>
<!-- Nav Item - Graph/s -->
<li class="nav-item">
  <a class="nav-link" href="#">
    <i class="fas fa-fw fa-chart-area"></i>
    <span>Graph/s</span></a>
</li>
<!-- Nav Item - Tables -->
<% if current_user.teacher? || current_user.admin? %>
  <li class="nav-item">
    <%=link_to "Students", students_index_path, class: "nav-link" %>
  </li>
<% end %>
<%=button_to "Logout", destroy_user_session_path, method: :delete, class: "btn nav-item text-light"%>

<%# <li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFiscalYear"
            aria-expanded="true" aria-controls="collapseFiscalYear">
    <i class="fas fa-fw fa-clipboard-list"></i>
    <span>Fiscal Year</span>
  </a>
  <div id="collapseFiscalYear" class="collapse" aria-labelledby="headingFiscalYear"
            data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Fiscal Year:</h6>
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 1
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 2
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 3
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 4
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 5
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
      <!--Dropdown Button For Gradings-->
      <div class="dropdown mb-2">
        <button class="btn btn-white dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
          Grade 6
        </button>
        <div class="dropdown-menu animated--fade-in"
                                            aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">1st Grading</a>
          <a class="dropdown-item" href="#">2nd Grading</a>
          <a class="dropdown-item" href="#">3rd Grading</a>
          <a class="dropdown-item" href="#">4th Grading</a>
        </div>
      </div>
      <!--End Dropdown Btn-->
    </div>
  </div>
</li> %>
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
</ul>
