<%= form_with model: [ subject, subject.activities.build ] do |form| %>
  <p>
    <%= form.label :name, class: "form-label" %><br>
    <%= form.text_field :name,class: "form-control" %>
  </p>
  <p>
    <%= form.label :description, class: "form-label" %><br>
    <%= form.text_area :description,class: "form-control" %>
  </p>
  <p>
    <%= form.label :file, class: "form-label" %><br>
    <%= form.file_field :file,class: "form-control" %>
    <small class="text-muted">Only PDF or MP4 files are displayed.</small>
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <%= form.submit "Create Activity", class: "btn btn-primary"%>
<% end %>
