<h4>Activities</h2>
<div class="row row-cols-4">
  <% if subject.activities.exists? %>
    <% subject.activities.each do |activity|%>
      <div class="col-3">
        <div class="card border-primary mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= activity.name %></h5>
            <p class="card-text"><%= activity.description %></p>
            <%=link_to activity.url, activity.url%>
            <br>
            <% unless current_user.student? %>
              <div class="btn-group" role="group">
                <%= button_to "Delete", [activity.subject, activity], class: "btn btn-danger btn-sm", method: :delete %>
                <%= link_to "Edit", edit_subject_activity_path(activity), class: "btn btn-secondary btn-sm" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="container">
      <p>No activities found</p>
    </div>
  <% end %>
</div>
