<div class="container">
  <h2>Edit Activity:</h2>
  <%= form_with model: [ @subject, @activity ] do |form| %>
    <p>
      <%= form.label :name, class: "form-label" %><br>
      <%= form.text_field :name,class: "form-control" %>
    </p>
    <p>
      <%= form.label :description, class: "form-label" %><br>
      <%= form.text_area :description,class: "form-control" %>
    </p>
    <p>
      <%= form.label :url, class: "form-label" %><br>
      <%= form.text_field :url,class: "form-control" %>
    </p>
    <p>
      <%= form.submit "Edit Activity", class: "btn btn-primary"%>
    </p>
  <% end %>
</div>
