<div class="col-12 col-md-6 col-lg-4 mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class="card-title"><%= @activity.name %></h5>
          <p class="card-text"><%= @activity.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% answer = ActivitySubmission.where(activity_id: @activity.id, user_id: current_user.id).first%>
  <% if current_user.student? %>
    <% unless answer %>
      <%= render "activity_submissions/form", activity: @activity%>
    <% else %>
      <p>You have already submitted answer. Click <%= link_to "here", answer%> to view.</p>
    <% end %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Title</th>
          <th>Description</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= answer.student.email %></td>
            <td><%= answer.title %></td>
            <td><%= answer.description %></td>
            <td><%= link_to answer.url, answer.url, target: '_blank' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
